<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/custom.css" />
    <title>❤ Sandeep Suman's Page</title>
  </head>
  <body>
    
    {% include 'floating-button.html' %}

    <section class="parent">
      <div class="slider">
        <ul class="slides">
          <li>
            <img
              src="https://images.pexels.com/photos/3862130/pexels-photo-3862130.jpeg"
            />
            <!-- random image -->
            <div class="left-align">
              <a class="waves-effect waves-light btn">button</a>
            </div>
            <div class="caption center-align">
              <h3>Welcome {{ user.username }}!</h3>
              <h5 class="light grey-text text-lighten-3">
                “Being a student is easy. Learning requires actual work.” <br />
                —William Crawford.
              </h5>
            </div>
          </li>
          <li>
            <img
              src="https://images.pexels.com/photos/374918/pexels-photo-374918.jpeg"
            />
            <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li>
            <img
              src="https://images.pexels.com/photos/374918/pexels-photo-374918.jpeg"
            />
            <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li>
            <img
              src="https://images.pexels.com/photos/374918/pexels-photo-374918.jpeg"
            />
            <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="courses">
      <div class="section white center">
        <h2 class="header">Enrolled Courses</h2>
        <div class="row container center">
          <!-- course card -->
          {% if user.linear_algebra %}
          <div class="col center l3 m4 s12">
            <div class="card">
              <div class="card-image">
                <img
                  height="200px"
                  src="https://images.unsplash.com/photo-1621237644919-a21d46e1cabf"
                />
                <span class="card-title">Linear Algebra</span>
              </div>
              <div class="card-content">
                <p>Linear Algebra 101</p>
              </div>
              <div class="card-action">
                <a href="/linear-algebra">Go to the Course</a>
              </div>
            </div>
          </div>
          {% endif %}

          {% if user.abstract_algebra %}
          <div class="col center l3 m4 s12">
            <div class="card">
              <div class="card-image">
                <img
                  height="200px"
                  src="https://images.unsplash.com/photo-1621237644919-a21d46e1cabf"
                />
                <span class="card-title">Abstract Algebra</span>
              </div>
              <div class="card-content">
                <p>Abstract Algebra 101</p>
              </div>
              <div class="card-action">
                <a href="/abstract-algebra">Go to the Course</a>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="col center l3 m4 s12">
            <div class="card">
              <div class="card-image">
                <img
                  height="200px"
                  src="https://images.pexels.com/photos/1329302/pexels-photo-1329302.jpeg"
                />
                <span class="card-title">Linear Algebra</span>
              </div>
              <div class="card-content">
                <p>Linear Algebra 101</p>
              </div>
              <div class="card-action">
                <a href="#">Go to the Course</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
    crossorigin="anonymous"
  ></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/custom.js"></script>
</html>
