<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/custom.css" />
    <title>❤ Linear Algebra</title>
  </head>
  <body>
    <section class="login-form">
      <div class="container">
        <div class="row center-align">
          <div class="col s12 m6 offset-m3">
            <form action="{{ url_for('login') }}" method="post">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Log IN</span>
                  <input type="text" name="username" placeholder="Username" required="required" />
                  <input type="password" name="password" placeholder="Password" required="required" />
                </div>
                <div class="card-action">
                  <button type="submit" class="btn btn-primary btn-block btn-large">LOG IN.</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
    crossorigin="anonymous"
  ></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/custom.js"></script>
</html>
