<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/custom.css" />
    <title>❤ Linear Algebra</title>
  </head>
  <body>
    
    {% include 'floating-button.html' %}

    <div class="row">
      <div class="col l3">
        <div class="container">
          <a
            href="#"
            data-target="nav-mobile"
            class="top-nav sidenav-trigger full hide-on-large-only"
            ><i class="material-icons">menu</i></a
          >
        </div>
        <ul id="nav-mobile" class="sidenav sidenav-fixed">
          <li class="bold">
            <a href="{{ url_for('home') }}" class="waves-effect waves-teal"><i class="material-icons">home</i>Home</a>
          </li>
          <li class="bold">
            <a href="getting-started.html" class="waves-effect waves-teal"
              >Linear Algebra</a
            >
          </li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li class="bold">
                <a class="collapsible-header waves-effect waves-teal">CSS</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="color.html">Color</a></li>
                    <li><a href="grid.html">Grid</a></li>
                    <li><a href="helpers.html">Helpers</a></li>
                    <li><a href="media-css.html">Media</a></li>
                    <li><a href="pulse.html">Pulse</a></li>
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="shadow.html">Shadow</a></li>
                    <li><a href="table.html">Table</a></li>
                    <li><a href="css-transitions.html">Transitions</a></li>
                    <li><a href="typography.html">Typography</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li class="bold">
            <a href="mobile.html" class="waves-effect waves-teal">Mobile</a>
          </li>
          <li class="bold">
            <a href="showcase.html" class="waves-effect waves-teal">Showcase</a>
          </li>
          <li class="bold">
            <a href="themes.html" class="waves-effect waves-teal">Themes</a>
          </li>
        </ul>
      </div>

      <div class="col center l9 m12 course-content">
        <div class="video-container">
          <iframe
            width="853"
            height="480"
            src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <h4>
          <i class="medium material-icons">navigate_before</i>
          <span class="navigation-title"
            >Linear Algebra a verty long title about permutaiton matrix</span
          >
          <i class="medium material-icons">navigate_next</i>
        </h4>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
    crossorigin="anonymous"
  ></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/custom.js"></script>
</html>
