<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/custom.css">
    <title> ❤ Linear Algebra</title>
</head>
<body>
    <section class="navigation">
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating red" href="//"><i class="material-icons">home</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">settings
          </i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue" src="https://google.com"><i class="material-icons">home</i></a></li>
        </ul>
      </div>
    </section>

    <div class="divider"></div>

    <div class="row center">
      <div class="col left l3">
        <ul id="slide-out" class="sidenav sidenav-fixed">
          <li><a href="#!">First Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
      
      <div class="col center l9 m12 course-content">
        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4><i class="medium material-icons">navigate_before</i> <span class="navigation-title">Linear Algebra a verty long title about permutaiton matrix</span>   <i class="medium material-icons">navigate_next</i></h4>
      </div>
    </div>


 

</body>
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/custom.js"></script>
</html>