<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>❤ Sandeep Suman's Page</title>
</head>
<body>
    <hr size="3" noshade>
    <img src="static/image.jpeg" alt="sandeep prof picture" height="200px">
    <h1>Sandeep Suman</h1>
    <p><em>University Department of <strong>Mathematics</strong></em></p>
    <br>
    <p>I am assistant professor in university Department of Mathematics. <br> My department belongs to the Tilka Manjhi Bhagalpur University, Bhagalpur.</p>
    <hr size="3" noshade>
    <h2>Books and Teaching</h2>
    <ul>
        <li>Men of Mathematics</li>
        <li>Abstract Algebra</li>
    </ul>
    <h3>Hobbies</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Chess">Chess</a></li>
        <ul>
            <li>good for logic</li>
            <li>need's patience</li>
        </ul>
        <li>Mathematics</li>
        <li>Science</li>
    </ul>

</body>
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/custom.js"></script>
</html>